<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} | %green(%-20.20thread) | %highlight(%5level) | %yellow(%-25.25logger{25}) | %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.arrow.memory" level="WARN"/>

    <!-- Note: this object is only created if io.deephaven.ssl.config.SSLConfig.trustLogging is true -->
    <logger name="nl.altindag.ssl.trustmanager.LoggingX509ExtendedTrustManager" level="DEBUG"/>

    <!-- Note: this object is only created if io.deephaven.ssl.config.SSLConfig.identityLogging is true -->
    <logger name="nl.altindag.ssl.keymanager.LoggingX509ExtendedKeyManager" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
